/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */

:root {
    --bs-primary-rgb: 223,124,109;
}

body {
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.nav-link {
    color: white;
}