/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */

:root {
    --bs-primary-rgb: 223,124,109;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-primary-2: #ce7365;
}

body {
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand {
    color: white;
    font-weight: 500;
}

.navbar-brand:hover, .nav-link:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.nav-link {
    color: white;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-bg: var(--bs-primary-2);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-border-color: var(--bs-btn-border-color);
    --bs-btn-disabled-bg: #f58d7d;
    --bs-btn-disabled-border-color: var(--bs-btn-disabled-bg);
}

.portfolio-grid-basic {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-column-gap: 90px;
    grid-row-gap: 65px;
    grid-auto-rows: min-content;
}

@media only screen and (min-width: 960px) {
    .portfolio-grid-basic {
        grid-template-columns: repeat(2,minmax(0,1fr));
    
    }
}