<div class="p-5">
    <h1>Edit {{title}}</h1>
    <form class="login-container" (submit)="onSubmit($event)">
        <input type="text" class="form-control mb-3" placeholder="Name" name="Name" [(ngModel)]="item.name">
        <input type="text" class="form-control mb-3" placeholder="Description" name="Description" [(ngModel)]="item.description">
        <input type="file" class="form-control mb-3" (change)="onFile($event)">
        <div class="image-container" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let img of item.images" class="image-item tile" cdkDrag>
                <div class="tile-image">
                    <img [src]="img" />
                </div>
                <div class="x"><i class="fa fa-close" (click)="onDelete(img)"></i></div>
            </div>
        </div>
        <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
        <button class="btn btn-primary mb-3" type="submit" multiple>Submit</button>
    </form>
</div>