<div class="section-primary">
    <h1>Kylie Jones</h1>
    <h4>Event planner, Artist, Photographer</h4>
</div>
<div class="section-light">
    <h1>Event Planner</h1>
    <p>Kylie has lots of experience in event planning</p>
    <button class="btn btn-primary">See Events</button>
</div>
<div class="section-primary">
    <h1>Artist</h1>
    <p>Kylie creates custom water color art</p>
    <button class="btn btn-secondary">See Art</button>
</div>
<div class="section-light">
    <h1>Photographer</h1>
    <p>Kylie takes really good pictures</p>
    <button class="btn btn-primary">See Photos</button>
</div>
