.navbar {
    justify-content: space-between;
    padding: 40px 0;
}

.nav-item {
    margin: 0 10px;
}

.footer-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-app .app {
    flex: 1
}