<div class="container py-5">
    <h1 class="mb-3">Welcome!</h1>
    <form class="login-container" (submit)="onLogin($event)">
        <input type="text" class="form-control mb-3" placeholder="Username" name="Username" [(ngModel)]="username">
        <input type="password" class="form-control mb-3" placeholder="Password" name="Password" [(ngModel)]="password">
        <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
        <button class="btn btn-primary mb-3" type="submit">Login</button>
        <p>Don't have an account? <a href="/signup">Signup</a></p>
    </form>
</div>
